<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding>
          <ion-item>
            <ion-label>Nome Social: xxx</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="unread(item)">Editar dado</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      
        <ion-item-sliding>
            <ion-item>
                <ion-label>E-mail: xxx</ion-label>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option (click)="unread(item)">Editar dado</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            <ion-item-sliding>
                <ion-item>
                    <ion-label>Endereço: xxx</ion-label>
                  </ion-item>
                  <ion-item-options side="end">
                    <ion-item-option (click)="unread(item)">Editar dado</ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
                <ion-item-sliding>
                    <ion-item>
                        <ion-label>Bairro: xxx</ion-label>
                      </ion-item>
                      <ion-item-options side="end">
                        <ion-item-option (click)="unread(item)">Editar dado</ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>
                    <ion-item-sliding>
                        <ion-item>
                            <ion-label>Cidade: xxx</ion-label>
                          </ion-item>
                          <ion-item-options side="end">
                            <ion-item-option (click)="unread(item)">Editar dado</ion-item-option>
                          </ion-item-options>
                        </ion-item-sliding>
                        <ion-item-sliding>
                            <ion-item>
                                <ion-label>Cep: xxx</ion-label>
                              </ion-item>
                              <ion-item-options side="end">
                                <ion-item-option (click)="unread(item)">Editar dado</ion-item-option>
                              </ion-item-options>
                            </ion-item-sliding>
                            <ion-item-sliding>
                                <ion-item>
                                    <ion-label>Uf: xxx</ion-label>
                                  </ion-item>
                                  <ion-item-options side="end">
                                    <ion-item-option (click)="unread(item)">Editar dado</ion-item-option>
                                  </ion-item-options>
                                </ion-item-sliding>
                                <ion-item-sliding>
                                    <ion-item>
                                        <ion-label>Telefone: xxx</ion-label>
                                      </ion-item>
                                      <ion-item-options side="end">
                                        <ion-item-option (click)="unread(item)">Editar dado</ion-item-option>
                                      </ion-item-options>
                                    </ion-item-sliding>
      </ion-list>
</ion-content>
