<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark">
      Meus ganhos
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card color="primary" >
        <ion-card-content >
    <h1>Total a receber: XX</h1>
    <h3>descontos: XX</h3>
        </ion-card-content>
      </ion-card>
<ion-list>
   
  <ion-item>
      <ion-label>De:</ion-label>
      <ion-datetime placeholder="DD/MM/AA" displayFormat="DD/MM/YYYY"  ></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>Até:</ion-label>
        <ion-datetime placeholder="DD/MM/AA"  displayFormat="DD/MM/YYYY" ></ion-datetime>
      </ion-item>
      <ion-button color="primary">Confirmar</ion-button>
      
  </ion-list>


</ion-content>
