<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark">
      Lançamento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  padding>
  <br><br><br>
    <ion-list>
        <ion-item>
          <h3>Empresa X</h3>
          
        </ion-item>
      
        <ion-item>
          <ion-label>Grupos de serviço</ion-label>
          <ion-select placeholder="escolha um" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="brown">Grupo 1</ion-select-option>
            <ion-select-option value="blonde">Grupo 2</ion-select-option>
       
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Serviços</ion-label>
            <ion-select placeholder="escolha um" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="brown">serviço 1</ion-select-option>
              <ion-select-option value="blonde">serviço 2</ion-select-option>
         
            </ion-select>
          </ion-item>
          <ion-item>
              <ion-label>Valor:XX</ion-label>
            
            </ion-item>
            <ion-item>
                <ion-label>Valor cobrado:</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
              <ion-button size="large" type="submit"expand="block">Confirmar</ion-button>
          
      
      </ion-list>
</ion-content>
